bin/
.gradle/
*.metadata
*.settings
*.svn
*.project
*.classpath
*.pydevproject
*.class
# Compiled class file

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Local stuff
server/sql/build/
buildSrc/build/
tools/jython2.7.0/cachedir
tools/factoryGen/build
